* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}


h1 {
    color: rgb(27, 164, 243);
    font-family: Ysabeau, sans-serif;

}

h2 {
    color: rgb(27, 164, 243);
    font-family: ysabeau, sans-serif;
    text-align: center;
    font-size: 38px;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: overline;
    margin-top: 60px;
    margin-bottom: 40px;
    text-align: center;


}

/*contenido mobile*/

.caja-div1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0%;
    margin: 0%;
    gap: 40px;
    border-style: none;

    .img-niveles {

        width: 300px;
        height: 300px;

    }

    .img-posicion {

        width: 300px;
        height: 300px;

    }

    .img-terminos {

        width: 300px;
        height: 300px;
    }

    .img-movimientos {

        width: 300px;
        height: 300px;

    }

    .img-cavidades {
        width: 300px;
        height: 300px;

    }

    .img-serosas {

        width: 300px;
        height: 300px;
    }


    .box-carrusel {

        width: 400px;
        height: 400px;

    }
}

/*contenido descktop*/

@media(min-width:1024px)and (orientation:landscape) {

    .caja-div1 {
        border-style:none;
        border-color: rgb(27, 164, 243);
        display: grid;
        grid-template-columns: 2fr 2fr 2fr;
        grid-template-rows: 600px 600px 600px;
        grid-template-areas:
            "articule articule articule"
            "articule articule articule"
            "carrusel carusel carrusel"
        ;
        justify-items: center;
        justify-content: space-evenly;

        .img-niveles {
            grid-area: articule;
            width: 500px;
            height: 500px;
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 2;

        }

        .img-posicion {
            grid-area: articule;
            width: 500px;
            height: 480px;
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 2;

        }

        .img-terminos {
            grid-area: articule;
            width: 500px;
            height: 480px;
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: -4;
            grid-row-end: -3;

        }

        .img-movimientos {
            grid-area: articule;
            width: 480px;
            height: 400px;
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 2;
            grid-row-end: 3;

        }

        .img-cavidades {

            grid-area: articule;
            width: 480px;
            height: 400px;
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 3;

        }

        .img-serosas {
            grid-area: articule;
            width: 480px;
            height: 400px;
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: -3;
            grid-row-end: -2;
        }

        .box-carrusel {
            grid-area: carrusel;
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 3;
            grid-row-end: -1;


        }
        
        .footer {
            height: 300px;
            width: 1024px;
        }
    }
}



