/*estilos con bootstrap*/
/*contacto mobile*/

 .formulario{ max-width:300px;
margin:  0 auto;}


/* contacto tablet*/
@media (min-width: 768px) and (max-width: 1023px) {
   
   .formulario{
    max-width: 600px; ;
    margin:0 auto;}

}
/*contacto desktop*/
@media (min-width: 1024px)and (orientation:landscape) 
    {
    .formulario {
      max-width:1000px;
      margin: 0 auto;
    }
  }
  