/*Contenido mobile*/


.caja-div1{
    .img-niveles {
        border: 3px solid lightblue;
        width: 300px;
        height: 300px
    }

    .img-posicion {
        border: 3px solid lightblue;
        width: 300px;
        height: 300px;

    }

    .img-terminos {
        border: 3px solid lightblue;
        width: 300px;
        height: 300px;
    }

    .img-movimientos {
        border: 3px solid lightblue;
        width: 300px;
        height: 300px;

    }

    .img-cavidades {
        border: 3px solid lightblue;
        width: 300px;
        height: 300px;

    }

    .img-serosas {
        border: 3px solid lightblue;
        width: 300px;
        height: 300px;
    }


    .box-carrusel {
        width: 400px;
        height: 400px;
    }

}

/*Contenido tablet*/
@media (min-width: 768px) and (max-width: 1023px) {
    .caja-div1 {
       

        .img-niveles {

            width: 400px;
            height: 400px
        }

        .img-posicion {

            width: 400px;
            height: 400px;

        }

        .img-terminos {

            width: 400px;
            height: 400px;
        }

        .img-movimientos {

            width: 400px;
            height: 400px;

        }

        .img-cavidades {
            width: 400px;
            height: 400px;

        }

        .img-serosas {

            width: 400px;
            height: 400px;
        }


        .box-carrusel {

            width: 500px;
            height: 500px;

        }
    }
}


/* Contenido Descktop*/
@media(min-width:1024px)and (orientation:landscape) {
    
.caja-div1{
    .img-niveles {
        grid-area: articule;
        width: 500px;
        height: 500px;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;

        &:hover {
            transform: scale(1.6);
        }

    }

    .img-posicion {
        grid-area: articule;
        width: 500px;
        height: 480px;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;

        &:hover {
            transform: scale(1.6);
        }

    }

    .img-terminos {
        grid-area: articule;
        width: 500px;
        height: 480px;
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: -4;
        grid-row-end: -3;

        &:hover {
            transform: scale(1.6);
        }

    }

    .img-movimientos {
        grid-area: articule;
        width: 480px;
        height: 400px;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;

        &:hover {
            transform: scale(1.6);
        }

    }

    .img-cavidades {

        grid-area: articule;
        width: 480px;
        height: 400px;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;

        &:hover {
            transform: scale(1.6);
        }

    }

    .img-serosas {
        grid-area: articule;
        width: 480px;
        height: 400px;
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: -3;
        grid-row-end: -2;
    }

    .box-carrusel {
        grid-area: carrusel;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: -1;

        &:hover {
            transform: scale(1.6);
        }
    }
}
}