/*index mobile*/

.index {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin-left: 200px;
    margin-right: 200px;
    align-content: center;

}

/*index tablet*/
@media (min-width: 768px) and (max-width: 1023px) {
    .index {
        display: block;
        width: 300px;
        height: 300px;
        margin-right: 200px;
        justify-content: center;
    }
}

/*index desktop*/

@media(min-width:1024px)and (orientation:landscape) {

    .index {
        display: none;
    

    }
}