
h1 {
    color: rgb(27, 164, 243);
    font-size: 50px;
    font-family: Ysabeau, sans-serif;
    position: center;
}
       

.imagen-encabezado {
  width:10%;
  height: 10%;
  position: center;

}


